
		<br><br>
			<div class = "form_row">
			  <div class="container s12">
			  	
			  	<div class = "row">
			      <div class = "col s6">
				  <%= form_tag search_restaurants_path, method: :get do %>
				  <span class = "black-text" <%= label :address, "Find a Restaurant near :", class: "label" %> </span>
				  <%#= text_field_tag :address, params[:address] %>
				  <%= text_field_tag :address %>
				  </div>
				  <div class = "col s6">
				  <span class = "black-text"<%= label :distance, "Distance in miles : ", class: "label" %></span>
				  <%#= text_field_tag :distance, params[:distance] %> 
				  <%= text_field_tag :distance %>
				  </div>
				 </div>
			    
		
				<div class = "submit_button">
				  	<%= image_submit_tag("http://i.imgur.com/cyTxMpQ.png?1") %>
				</div>
				
				<% end %>			  
			  </div>
			</div>


			 

