<p id="notice"><%= notice %></p>


<%= form_tag search_restaurants_path, method: :get do %>
  <%= label :address, "Find a Restaurant near : " %>
  <%#= text_field_tag :address, params[:address] %>
  <%= text_field_tag :address %>

  <%= label :distance, "Distance in miles : " %>
  <%#= text_field_tag :distance, params[:distance] %> 
  <%= text_field_tag :distance %>


  
  <%= submit_tag "Search" %>
<% end %>

<div class = "button"> 
<a href = "http://localhost:3000/restaurants/search"> <img src="http://i.imgur.com/woKSQwI.jpg"> </a>
</div>


<div class = "noshow">
<h1>Listing Restaurants</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Hours</th>
      <th>Food type</th>
      <th>Integer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><%= restaurant.name %></td>
        <td><%= restaurant.address %></td>
        <td><%= restaurant.phone %></td>
        <td><%= restaurant.hours %></td>
        <td><%= restaurant.food_type_id %></td>
        <td><%= restaurant.integer %></td>
        <td><%= link_to 'Show', restaurant %></td>
        <td><%= link_to 'Edit', edit_restaurant_path(restaurant) %></td>
        <td><%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Restaurant', new_restaurant_path %>
</div>