
	<br>
	<div class="center-align">
		<form><input type=button value="Next Restaurant?" onClick="history.go()" class='btn center-align'></form> 
	</div>





	<% if @specific_place ==nil%>
		"SORRY - I GOT NOTHING"
	<% else%>
	   
		<div class = "result">
			<h1><%= (@specific_place) %></h1>
<!-- 			<p><%= @place.inspect %> </p><br>
			<%#=@detailed_info%>
			<%#=@place[:reference]%>
 -->
		</div>
	
      
       <div class = "photo">
		<div class="card" >
			<% if @url!=nil%>
		 		<img src= <%= (@url) %> width="400" border="5">
	 		<%else%>
		 		<img src="https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png">
	 		<% end%>

		</div>
	   </div>
	  <div class = "info">
				<div class = "address">
					<p class ="flow-text"><%= @place.vicinity%></p>
				</div>

				<div class = "rating">
					<p class= "flow-text">Google Rating: <%= @place.rating %></p>
				</div>
	  </div>	
	</div>

	
	<%end%>


